.modal-container{
    background:rgba(52,46,46,.7490196078431373);
    z-index: 1000;
    inset: 0;
}
.modal-container-main{
   background: var(--bg-color);

}
.modal-container i{
    color:var(--font-light)
}
.dis-none{
display: none;
}

.dis-flex{
    display: flex;
}