.loader-wrapper {
    background: var(--bg-color);
    margin: auto;
    height: calc(80% - 8.9rem);
    width: 100%;
}

@media screen and (max-width:767px) {
    .loader-wrapper {
        height: 50vh;
    }
}